In [4]:
# Import necessary libraries
import pandas as pd
import numpy as np

In [6]:
# Load the CSV files
df1_loaded = pd.read_csv('Dataset_of_Diabetes.csv')

In [8]:
print (df1_loaded)

      ID  No_Pation Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL  \
0    502      17975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
1    735      34221      M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6
2    420      47975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
3    680      87656      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
4    504      34223      M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4
..   ...        ...    ...  ...   ...  ..    ...   ...  ...  ...  ...   ...
995  200     454317      M   71  11.0  97    7.0   7.5  1.7  1.2  1.8   0.6
996  671     876534      M   31   3.0  60   12.3   4.1  2.2  0.7  2.4  15.4
997  669      87654      M   30   7.1  81    6.7   4.1  1.1  1.2  2.4   8.1
998   99      24004      M   38   5.8  59    6.7   5.3  2.0  1.6  2.9  14.0
999  248      24054      M   54   5.0  67    6.9   3.8  1.7  1.1  3.0   0.7

      BMI CLASS
0    24.0     N
1    23.0     N
2    24.0     N
3    24.0     N
4    21.0     N
..    ...   ...
995  30.0     Y
996  37.2    Y
997  27.4    Y
998  40.5    Y
999  33.0    Y

[1000 rows x 14 columns]

In [12]:
# Filter the data to include only males
df_male = df1_loaded[df1_loaded['Gender'] == 'M']

# Print the filtered data
print(df_male)

      ID  No_Pation Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL  \
1    735      34221      M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6
4    504      34223      M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4
7    421      34227      M   48   4.7  47    4.0   2.9  0.8  0.9  1.6   0.4
8    670      34229      M   43   2.6  67    4.0   3.8  0.9  2.4  3.7   1.0
15   566      34236      M   50   5.5  74    5.0   3.6  1.1  1.0  2.1   0.5
..   ...        ...    ...  ...   ...  ..    ...   ...  ...  ...  ...   ...
995  200     454317      M   71  11.0  97    7.0   7.5  1.7  1.2  1.8   0.6
996  671     876534      M   31   3.0  60   12.3   4.1  2.2  0.7  2.4  15.4
997  669      87654      M   30   7.1  81    6.7   4.1  1.1  1.2  2.4   8.1
998   99      24004      M   38   5.8  59    6.7   5.3  2.0  1.6  2.9  14.0
999  248      24054      M   54   5.0  67    6.9   3.8  1.7  1.1  3.0   0.7

      BMI CLASS
1    23.0     N
4    21.0     N
7    24.0     N
8    21.0     N
15   21.0     N
..    ...   ...
995  30.0     Y
996  37.2    Y
997  27.4    Y
998  40.5    Y
999  33.0    Y

[565 rows x 14 columns]

In [16]:
# Save the filtered data to a new CSV file
df_male.to_csv('df_male.csv', index=False)